.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 100px auto 5px auto;

}

.center {
    position: relative;
    margin: 0 auto;
}

.span1 {
    grid-area: 1 / 1 / span 1 / span 3;
}

.span2 {
    grid-area: 4 / 1 / span 1 / span 3;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    height: 36px;
    width: 140px;
    background-color: rgb(59, 126, 103);
    border-radius: 30px;
}

.button:hover {
    background-color:rgb(45, 104, 83);
}