.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px 40px auto;
}

.center {
    position: relative;
    margin: 0 auto;
}

.span {
    grid-area: 1 / 1 / span 1 / span 3;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    height: 50px;
    width: 75px;
    background-color: aquamarine;
}